{{ partial "header.html" . }}

{{ if .Params.show_toc }} {{ .TableOfContents }} {{ end }}

  <main id="main">
    {{ .Content }}
    {{ range .Pages.GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    <ul>
    {{ range .Pages }}
    <li>
      <span class="date">{{ .Date.Format "2006/01/02" }}</span>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
    </ul>
  {{ end }}
  </main>

<!---
<ul>
  {{ range (where .Data.Pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>
--->

<!--div class="archive">
  {{ range .Pages.GroupByDate "2006" }}
  <h2 class="archive-title">{{ .Key }}</h2>
  {{ range .Pages.GroupByDate "2006-01-02" }}
  {{ range .Pages }}
  <ul>
    <li>
      <span class="date">{{ .Date.Format "2006/01/02" }}</span>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
  </ul>
  {{ end }}
  {{ end }}
  {{ end }}
</div-->


{{ partial "footer.html" . }}
