{{ if and (not .IsHome) .Content }}
{{ $section := default .Section ($.Scratch.Get "section") }}
<li class="pattern"><a><span class="text"></span></a></li>
{{ with .Site.Params.githubContentURL }}
{{ $.Scratch.Set "filePath" $.File.Path }}
{{ if in $.File.Path ".html"}}
{{ $.Scratch.Set "filePath" (replaceRE "[.]html$" ".Rmd" $.File.Path) }}
{{ $.Scratch.Set "filePath" (replace ($.Scratch.Get "filePath") "\\/" "/") }}
{{ end }}
<li class="pattern">
  <a href="{{ or $.Params.githubEditURL  (print .  ($.Scratch.Get "filePath")) }}" target="_blank">
    <svg class="bookmark-icon" aria-hidden="true" focusable="false" viewBox="0 0 40 50">
      <use xlink:href="#bookmark"></use>
    </svg>
    <span class="text">{{ default "编辑" (index $.Site.Params.lang.edit $section) }}</span>
  </a>
</li>
{{ end }}
<li class="pattern">
  <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="Attribution-NonCommercial-ShareAlike 4.0 International">
    <svg class="bookmark-icon" aria-hidden="true" focusable="false" viewBox="0 0 40 50">
      <use xlink:href="#bookmark"></use>
    </svg>
    <span class="text">{{ default "版权" (index $.Site.Params.lang.license $section) }}</span>
  </a>
</li>
{{ end }}
