  <footer>
  {{ partial "foot_custom.html" . }}


  {{/* if eq .URL "/" */}}

  <div class="copyright">
      <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5m6pzaeh5ar&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=0" async="async"></script>

  {{ with .Site.Params.footer.moreinfo }}
      {{ . | markdownify }}
  {{ end }}

  {{ with .Site.Params.footer.copyright }}
      <!--- <hr> ---> <!--- Remove horizontal line 20180205 by Likan Zhan --->
      {{ replace . "{year}" now.Year | markdownify }}
  {{ end }}

  </div>
  {{/* end */}}

  </footer>
  </article>
  {{ template "_internal/google_analytics.html" . }}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  </body>
</html>
