{{ partial "header.html" . }}

{{ if .Content }}

{{ .Content }}

<hr class="style-one">

{{ end }}

<!--ul>
  <li> Recent updates (English version) </li>
<ul>
  {{ range first 8 ( where .Site.Pages.ByLastmod.Reverse "Section" "en") }}
  <li>
    <span class="date">{{ .Lastmod.Format "2006/01/02" }}</span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul-->

{{ if .Site.Params.recentPosts }}

</br>
<p>最近更新文章</p>

<ul>
    {{ range first 5 ( where .Site.Pages "Type" "post") }}
    <li>
       <span class="date">{{ .Lastmod.Format "2006/01/02" }}</span>
       <a href="{{ .URL }}">{{ .Title }}</a>
    </li>
    {{ end }}
</ul>
</ul>

{{ end }}

{{ partial "footer.html" . }}
